.teclado
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    user-select: none;
    transition: bottom 0.4s;
    height: 100px;
}

.teclado--hidden
{
    bottom: -100%;
}

.teclado_chaves
{
    text-align: center;
}

.teclado_chabe
{
    height: 45px;
    width: 6%;
    max-width: 90px;
}